##############################
## MISC CONFIG				##
##############################

# Version of python.
PYTHON_VERSION=2.7.8

##############################
## DB CONFIG				##
##############################
 
# Version of postgres db server to be run.
DB_SERVER_VERSION=9.3

# Optional hostname to adhere to pg_hba policies.  Will default to "localhost" if none specified.
DB_HOSTNAME=
 
# Optional username to connect to database as.  Will default to "postgres" if none specified.
DB_USERNAME= 