[
  {rabbit, [
     {ssl_listeners, [32272]},
     {ssl_options, [{cacertfile,"/home/esdoc/webcerts/esdoc_testca/cacert.pem"},
                    {certfile,"/home/esdoc/webcerts/server/cert.pem"},
                    {keyfile,"/home/esdoc/webcerts/server/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
   ]}
].